In [1]:
import pandas as pd

In [75]:
df_70 = pd.read_csv("UPM_Bester manns.txt", sep = "|", index_col = 0)
df_jorge = pd.read_csv("UPM_bestermans_Jorge2.txt", sep = "|", index_col = 0)

In [76]:
print(df_70.shape)
print(df_jorge.shape)

(5618, 1)
(5618, 1)

In [77]:
df_70["count_70"] = 1
left = df_70.groupby(df_70.CLASE).count()/df_70.shape[0]*100

In [78]:
df_jorge["count_jorge"] = 1
right = df_jorge.groupby(df_jorge.CLASE).count()/df_jorge.shape[0]*100

In [79]:
pct_merge = pd.merge(left,right,left_index = True, right_index=True )
pct_merge["diff"] = pct_merge["count_jorge"] - pct_merge["count_70"]
pct_merge

              count_70  count_jorge       diff
CLASE
AGRICULTURE   2.224991     1.548594  -0.676397
INDUSTRIAL   23.015308    10.840157 -12.175151
OFFICE        7.315771     5.250979  -2.064792
OTHER         6.835173     5.535778  -1.299395
PUBLIC       12.317551     3.933784  -8.383766
RESIDENTIAL  41.865433    69.473122  27.607690
RETAIL        6.425774     3.417586  -3.008188

In [71]:
pct_merge = pd.merge(left,right,left_index = True, right_index=True )
pct_merge["diff"] = pct_merge["count_jorge"] - pct_merge["count_70"]
pct_merge

              count_70  count_jorge       diff
CLASE
AGRICULTURE   2.224991     1.922392  -0.302599
INDUSTRIAL   23.015308     9.006764 -14.008544
OFFICE        7.315771     6.763973  -0.551798
OTHER         6.835173     5.749377  -1.085796
PUBLIC       12.317551     3.987184  -8.330367
RESIDENTIAL  41.865433    69.152723  27.287291
RETAIL        6.425774     3.417586  -3.008188

In [85]:
merged = pd.merge(df_70.drop(["count_70"], axis = 1),df_jorge.drop(["count_jorge"], axis = 1),left_index = True, right_index=True )
merged.columns = ["61%", "Jorge"]

In [86]:
merged

                          61%        Jorge
ID
44198C2A811A4DF4        OTHER        OTHER
216F638609E0E39E  RESIDENTIAL  RESIDENTIAL
FFFCEFB11E257364  RESIDENTIAL  RESIDENTIAL
596C5C8CE10BCF         OFFICE       OFFICE
F931B9FA2A8641D1        OTHER        OTHER
...                       ...          ...
EEDC412322324F11       PUBLIC  RESIDENTIAL
C3ED06EF07E7B00D       RETAIL  RESIDENTIAL
C9625D1602A319E5  RESIDENTIAL  RESIDENTIAL
3A42595E9285B866  RESIDENTIAL  RESIDENTIAL
09E10CFCA9CD293B  RESIDENTIAL  RESIDENTIAL

[5618 rows x 2 columns]

In [87]:
same = merged["61%"] == merged["Jorge"]
same.sum()

3451

In [32]:
3421/5618

0.608935564257743

In [88]:
3451/5618

0.6142755428978284